__pycache__/
venv/
env/
*.sqlite3
*.env
*.log
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3-journal
__init__.py
db.sqlite3
/static/
/media/
local_settings.py
.DS_Store
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.vagrant/
.vscode/